@using Ricettario.Web.MVC.Models
@model UserRequest

@{
    ViewData["Title"] = "Home Page";
}

<form method="post" action="/home/index">
    <div class="mb-3">
        @Html.LabelFor(Model => Model.Nome, new { @Class = "form-label" })
        @Html.TextBoxFor(Model => Model.Nome, new { @Class = "form-control", @id = "nomeUtente" })
    </div>
    <div class="mb-3">
        @Html.LabelFor(Model => Model.Cognome, new { @Class = "form-label" })
        @Html.TextBoxFor(Model => Model.Cognome, new { @Class = "form-control", @id = "conomeUtente" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>